# Exploratory Data Analysis of Basic Company Dataset

In [1]:
import pandas as pd

In [26]:
# Create a new DataFrame for films
basic_company_data_df = pd.read_csv("../data/raw/uncleaned-basic_company_data.csv")

# Display info about the dataframe
basic_company_data_df.head(10)

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,! LTD,08209948,NaN,NaN,9 PRINCES SQUARE,NaN,HARROGATE,NaN,ENGLAND,HG1 1ND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-01-09,2024-11-09
1,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-05-12,2025-03-12
2,!NFLECTION ADVISORY LIMITED,15073164,NaN,NaN,74 SANTERS LANE,NaN,POTTERS BAR,HERTFORDSHIRE,ENGLAND,EN6 2DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2028-04-08,2026-02-08
3,!NFOGENIE LTD,13522064,NaN,NaN,71-75 SHELTON STREET,NaN,LONDON,GREATER LONDON,UNITED KINGDOM,WC2H 9JQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-03-08,2026-08-07
4,!NK MEDIA LIMITED,15801429,NaN,NaN,"85 GREAT PORTLAND STREET, FIRST FLOOR, LONDON ...",FIRST FLOOR,LONDON,NaN,ENGLAND,W1W 7LT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-04-06,2025-02-06
5,!NNOV8 LIMITED,11006939,NaN,NaN,OLD BARN FARM,HARTFIELD ROAD,EDENBRIDGE,NaN,ENGLAND,TN8 5NF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-12-10,2024-10-10
6,!NNOVATION LAB LTD,15431491,NaN,NaN,6 THORNEYHOLME CLOSE,LOSTOCK,BOLTON,NaN,ENGLAND,BL6 4BZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-04-02,2026-09-01
7,!NSPIRED INVESTMENTS LTD,SC606050,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,SCOTLAND,AB11 7SY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-12-02,2027-05-01
8,!NSPIRED LTD,SC421617,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,UNITED KINGDOM,AB11 7SY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-04,2021-11-04
9,!NVERTD DESIGNS LIMITED,09152972,NaN,NaN,2 SANDROCKS LODGE,ROCKY LANE,HAYWARDS HEATH,NaN,ENGLAND,RH16 4RW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-12-08,2027-05-07

# Null Handling

In [27]:
# Check for null values
basic_company_data_df.isnull().sum()

CompanyName                               0
CompanyNumber                             0
RegAddress.CareOf                      9979
RegAddress.POBox                      10032
RegAddress.AddressLine1                  56
RegAddress.AddressLine2                3906
RegAddress.PostTown                     372
RegAddress.County                      7319
RegAddress.Country                     2943
RegAddress.PostCode                     141
CompanyCategory                           0
CompanyStatus                             0
CountryOfOrigin                           0
DissolutionDate                       10100
IncorporationDate                         0
Accounts.AccountRefDay                  180
Accounts.AccountRefMonth                180
Accounts.NextDueDate                    229
Accounts.LastMadeUpDate                1784
Accounts.AccountCategory                  0
Returns.NextDueDate                     320
Returns.LastMadeUpDate                 5598
Mortgages.NumMortCharges                  0
Mortgages.NumMortOutstanding              0
Mortgages.NumMortPartSatisfied            0
Mortgages.NumMortSatisfied                0
SICCode.SicText_1                         0
SICCode.SicText_2                      8824
SICCode.SicText_3                      9576
SICCode.SicText_4                      9863
LimitedPartnerships.NumGenPartners        0
LimitedPartnerships.NumLimPartners        0
URI                                       0
PreviousName_1.CONDATE                 8368
PreviousName_1.CompanyName             8368
PreviousName_2.CONDATE                 9863
PreviousName_2.CompanyName             9863
PreviousName_3.CONDATE                10050
PreviousName_3.CompanyName            10050
PreviousName_4.CONDATE                10092
PreviousName_4.CompanyName            10092
PreviousName_5.CONDATE                10097
PreviousName_5.CompanyName            10097
PreviousName_6.CONDATE                10098
PreviousName_6.CompanyName            10098
PreviousName_7.CONDATE                10099
PreviousName_7.CompanyName            10099
PreviousName_8.CONDATE                10099
PreviousName_8.CompanyName            10099
PreviousName_9.CONDATE                10099
PreviousName_9.CompanyName            10099
PreviousName_10.CONDATE               10100
PreviousName_10.CompanyName           10100
ConfStmtNextDueDate                     323
ConfStmtLastMadeUpDate                 1855
dtype: int64

In [28]:
null_percent = (basic_company_data_df.isnull().mean() * 100)
print(null_percent)

CompanyName                             0.000000
CompanyNumber                           0.000000
RegAddress.CareOf                      98.801980
RegAddress.POBox                       99.326733
RegAddress.AddressLine1                 0.554455
RegAddress.AddressLine2                38.673267
RegAddress.PostTown                     3.683168
RegAddress.County                      72.465347
RegAddress.Country                     29.138614
RegAddress.PostCode                     1.396040
CompanyCategory                         0.000000
CompanyStatus                           0.000000
CountryOfOrigin                         0.000000
DissolutionDate                       100.000000
IncorporationDate                       0.000000
Accounts.AccountRefDay                  1.782178
Accounts.AccountRefMonth                1.782178
Accounts.NextDueDate                    2.267327
Accounts.LastMadeUpDate                17.663366
Accounts.AccountCategory                0.000000
Returns.NextDueDate                     3.168317
Returns.LastMadeUpDate                 55.425743
Mortgages.NumMortCharges                0.000000
Mortgages.NumMortOutstanding            0.000000
Mortgages.NumMortPartSatisfied          0.000000
Mortgages.NumMortSatisfied              0.000000
SICCode.SicText_1                       0.000000
SICCode.SicText_2                      87.366337
SICCode.SicText_3                      94.811881
SICCode.SicText_4                      97.653465
LimitedPartnerships.NumGenPartners      0.000000
LimitedPartnerships.NumLimPartners      0.000000
URI                                     0.000000
PreviousName_1.CONDATE                 82.851485
PreviousName_1.CompanyName             82.851485
PreviousName_2.CONDATE                 97.653465
PreviousName_2.CompanyName             97.653465
PreviousName_3.CONDATE                 99.504950
PreviousName_3.CompanyName             99.504950
PreviousName_4.CONDATE                 99.920792
PreviousName_4.CompanyName             99.920792
PreviousName_5.CONDATE                 99.970297
PreviousName_5.CompanyName             99.970297
PreviousName_6.CONDATE                 99.980198
PreviousName_6.CompanyName             99.980198
PreviousName_7.CONDATE                 99.990099
PreviousName_7.CompanyName             99.990099
PreviousName_8.CONDATE                 99.990099
PreviousName_8.CompanyName             99.990099
PreviousName_9.CONDATE                 99.990099
PreviousName_9.CompanyName             99.990099
PreviousName_10.CONDATE               100.000000
PreviousName_10.CompanyName           100.000000
ConfStmtNextDueDate                     3.198020
ConfStmtLastMadeUpDate                 18.366337
dtype: float64

In [34]:
df2 = basic_company_data_df.dropna(axis=1, thresh=10000).copy()
df2.isnull().values.any()


print("Before dropping col:", basic_company_data_df.shape)
print("After dropping col:", df2.shape)

df3 = df2.dropna()
df3.isnull().values.any()

print("Before dropping records:", df2.shape)
print("After dropping record:", df3.shape)

Before dropping col: (10100, 55)
After dropping col: (10100, 16)
Before dropping records: (10100, 16)
After dropping record: (10044, 16)